name: Test Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'

jobs:
  build:
    runs-on: macos-latest
    if: ${{ !contains(github.event.head_commit.message, '[skip test]') }}
    strategy:
      matrix:
        include:
          - ios: "15.0"

    steps:
      - uses: actions/checkout@v2

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '13.1'

      - name: Build Test (${{ matrix.ios }})
        run: |
          xcodebuild -project Biinge.xcodeproj \
            -scheme Biinge \
            -destination 'platform=iOS Simulator,OS=${{ matrix.ios }},name=iPhone'
            build \
            | xcpretty && exit ${PIPESTATUS[0]}
