name: Test Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'

jobs:
  build:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2

      - uses: sersoft-gmbh/xcodebuild-action@v1
        with:
          project: Biinge.xcodeproj
          configuration: Release
          action: build
          allow-provisioning-updates: true
